<style>
    h3{
        color:teal;
        text-shadow: 2px 2px gray;
    }
</style>

<div class="container">
    <div>
<h3>All about me</h3>
<p>
    Enthusiastic web developer with a
    passion for learning and mastering
    cutting-edge technologies. Skilled in
    C#, .NET, front-end development, and
    SQL, I thrive in dynamic and fastpaced
    environments. I aim to
    leverage my expertise to contribute
    effectively to team goals and tackle
    challenges head-on. Seeking a role
    that offers professional growth and the
    opportunity to innovate and solve
    complex problems.
</p>
<hr />
    </div>
<br />
<br />
<div>
        <h3>Education</h3>
        <hr />
        <div>
            <h4> Lexicon Linköping</h4>
            <hr />
            
            <p>February 2024 – Present</p>
            <p>
                Training – Web Development (C#, .Net, SQL, HTML, CSS, Bootstrap 5.3,
                JavaScript, jQuery, Azure, Software Testing, MVC, LINQ, Practical-
                Assignments, Project, Agile work technique, Git-Github, Team-work.)
                Projects – Movie Store (MVC, LINQ, HTML, Bootstrap, JS, Session), News
                Website (Developed a dynamic news website using the MVC
                architecture, Technologies: Utilized HTML, CSS, JS, & SQL, LINQ for
                database management, azure function for API request, Timer-trigger
                function for sending newsletter, Implemented user authentication, realtime
                news updates, and an admin panel for content management.)
            </p>
            <br /><br />
            <h4>Bansal Institute of Science & Technology Bhopal</h4>
            <hr />
            
            <p>2010 - 2014</p>
            <p>
                Bachelor Of Computer Science (Java, C#, SQL, MS Office)
            </p>
           
            <br />
            <br />

            
                
                
            </div>
        </div>
</div>



</div>