<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
     h2,a {
        color: teal;
        /* text-shadow: 2px 2px ; */
    }
    a{
        text-decoration:none;
    }
    


</style>
<div class="container">
    <h1>Contact Me</h1>
    <h2>
        <a href="mailto:aksanju20@gmail.com" target="_blank">
            <i class="fas fa-envelope"></i> Gmail
        </a>
    </h2>
    <br>

    <h2>
        <a href="https://www.linkedin.com/in/anju-kumari-38bb81a0/" target="_blank">
            <i class="fab fa-linkedin"></i> LinkedIn
        </a>

    </h2>
    <br />
    <h2>
        <a href="https://github.com/AksAnjuKumari" target="_blank">
            <i class="fab fa-github"></i> GitHub
        </a>
    </h2>

</div>




