@{
    ViewData["Title"] = "Home Page";
}
<style>
    h1, h2 {
        color: teal;
    }

    .image {
        box-shadow: 10px 10px 20px grey; /* Adjust the values as needed */
        width: 70%;
    }

    .btn {
        background-color: teal;
        color: white;
    }
</style>

<div class="container">
    <div class="row">
        <!-- Left Column -->
        <div class="col-md-6">
            <h1 class="display-4 ">Hello!</h1>
            <h2 class="">I am Anju</h2>
            <p>I am a web developer based in Sweden.</p>
            <p class="fst-italic">
                Mastering the stack is not just about knowing how to build; it's about
                understanding how to make it work seamlessly together—from the front-end to the
                back-end, with efficiency and scalability at the core.
            </p>
            <div class="mt-3">
                <a class="btn  text-white" asp-area="" asp-controller="Home" asp-action="Contact">Contact Me</a>
            </div>
        </div>
        <!-- Right Column -->
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="border-4 #008080 rounded-circle">
                <img src="~/images/profile.jpg" alt="Profile Picture" class=" image img-fluid border-4 #008080 rounded-circle shadow-lg " />
            </div>
        </div>
    </div>
</div>

