<div class="contrainer">
    <div><h3>News website : </h3>
        <a href="https://expressnews.azurewebsites.net/">Express News</a>
        <p>
            About the Project:
            This website is designed to deliver the latest news across various topics, including Local news, World, Sports, and Culture. 
            Developed using C# .NET MVC and deployed on Azure, it showcases our combined skills and efforts.

            What We Learned:
            Full-Stack Development: From backend services to frontend design.
            Azure Deployment: How to deploy and manage a web application on the Azure cloud platform.

            Working with Databases: Implementing data storage and retrieval using Azure Table Storage.

            Key Features:

            Responsive design for both desktop and mobile devices.
            Customizable news categories (News Letter in mail for Subscribed member).
            User registration and login, Admin- User role assignment and Content management, Option to buy subscription by dumy card payment,
            Newsletter in email,Option to select Newsletter category for subscribed user, User cam also sent TIP, Editor can add new article, 
            Journalist can approve article and user TIP API request electricity price 24 hour for SE1,SE2, SE3, SE4.
            

        </p>
    </div>


    <div><h3>Movie Shop</h3>
        <p>
            About the Project:
            This project is based on database based developed using .NET MVC, SQL, LINQ, CSS, Bootstrap, Javascript.

            Key Features:
            User can select movies from home page and can add to shopping cart, User can add his/her Addess ans contact for order movie.
            User can see his/her all order list by enter email id. 
            Admin can login with session and add, edit, delete movie. Admin can see all Order by customers.

        </p>
    </div>
</div>
