
<style>
    h4 {
        color: teal;
        text-shadow: 2px 2px gray;
    }
</style>

<div class="container">
    <div>
        <h4>TECHNICAL SKILLS</h4>
        <hr />
        <p>
            C#/ .NET, MVC, HTML, CSS, Bootstrap, JavaScript, jQuery, SQL, LINQ, 
            Agile Methodology, Azure
        </p>
    </div>
    <br />
    <div>
        <h4>SOFT SKILLS</h4>
        <hr />
        <ul>

            <li >Social</li>
            <li >Flexible</li>
            <li >Reliable</li>
            <li >Punctual</li>
            <li >Team Work</li>
            <li >Adaptabilty</li>
        </ul>
    </div>
    <br />
     <div>
            <h4>LANGUAGE</h4>
            <hr />
            <ul>

                <li class="inline">English - Fluent in English</li>
                <li class="inline">Hindi - Native language</li>
                <li class="inline">Swedish Basic</li>

            </ul>
     </div>
</div>